@import "../../assets/style/basestyle.css";
.header {
  width: 960px;
}

#components-layout-demo-fixed .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.Navtitle {
  float: left;
  font-size: 30px;
}
