@import "~hover.css";
div {
  .sidebar {
    height: 100%;
    width: 100%;
    background-color: red;
    position: fixed;
    left: 0;
    i {
      position: absolute;
      right: 0;
      font-size: 60px;
      display: block;
    }
  }
  .mainbar {
    height: 100%;
    width: 100%;
    background-color: darkblue;
    position: fixed;
    right: 0;
  }
  .headbar {
    background-color: aquamarine;
    .head {
      font-size: 32px;
      background-color: azure;
    }
  }
  .main {
    background-color: skyblue;
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    .main-content {
      background-color: white;
    }
  }
}

.outer {
  overflow: hidden;
}

@media (max-width: 1530px) {
  .sidebar {
    display: none;
  }
  .main-content-data {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}
@media (max-width: 960px) {
  .bg-wrapper {
    display: none;
  }
}
